@import '../../styles/variables.scss';

.gif {
    display: flex;
    align-items: center;
    flex-direction: column;

    &__heading {
        color: $gray;
        text-transform: capitalize;
    }

    &__image-wrapper {
        position: relative;
    }

    &__image {
        border-radius: 6px;
        width: 100%;
    }

    &__action {
        position: absolute;
        top: 10px;
        right: 10px;
    }
}